adium-theme-ubuntu==0.3.4
attrs==15.2.0
beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
coinmarketcap==4.1.1
cryptography==1.2.3
deluge==1.3.12
enum34==1.1.2
geopy==1.11.0
idna==2.6
ipaddress==1.0.16
keyring==7.3
numpy==1.11.0
PAM==0.4.2
Pillow==3.1.2
psutil==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
PyBluez==0.18
pycrypto==2.6.1
pygame===1.9.1release
pygobject==3.20.0
pyOpenSSL==0.15.1
pypubg==0.1.5
pyserial==3.0.1
pyTelegramBotAPI==3.5.1
python-libtorrent==1.0.7
pytz==2017.3
pyxdg==0.25
requests==2.18.4
requests-cache==0.4.13
SecretStorage==2.1.3
service-identity==16.0.0
simplejson==3.8.1
six==1.11.0
Twisted==16.0.0
unity-lens-photos==1.0
urllib3==1.22
zope.interface==4.1.3
